###############################################################################
# ShellyEM current meter, MQTT enabled
###############################################################################
homeassistant:
  customize:
    sensor.elecprice_range:
      icon: mdi:currency-eur
    sensor.esp32ener_power:
      icon: mdi:flash
      friendly_name: Consumo medido
    sensor.esp32ener_ch1:
      icon: mdi:power-plug
      friendly_name: Circuito 1 (general)
    sensor.esp32ener_ch2:
      icon: mdi:flash-circle
      friendly_name: Circuito 2 (termo,AC,domótica)

    sensor.main_voltage:
      friendly_name: Voltaje
    sensor.main_power_react_ch1:
      friendly_name: Reactiva CH1
    sensor.main_power_react_ch2:
      friendly_name: Reactiva CH2
    sensor.main_power_total:
      icon: mdi:flash
    sensor.main_energy_total:
      icon: mdi:chart-areaspline-variant

    sensor.main_energy_ch1:
      friendly_name: Energía (5min) CH1
    sensor.main_energy_ch2:
      friendly_name: Energía (5min) CH2
    sensor.main_energy_total_ch1:
      friendly_name: Energía total en CH1
    sensor.main_energy_total_ch2:
      friendly_name: Energía total en CH2

    utility_meter.billable_energy:
      friendly_name: Contador energía
    sensor.billable_energy_punta:
      friendly_name: Energía en punta
    sensor.billable_energy_valle:
      friendly_name: Energía en valle

    utility_meter.daily_energy_punta_valle:
      friendly_name: Tarifa 2.0
    sensor.daily_energy_punta_valle_punta:
      friendly_name: Energía en punta (día)
    sensor.daily_energy_punta_valle_valle:
      friendly_name: Energía en valle (día)

    # Contadores de coste (precio * consumo)
    sensor.energy_cost_hour:
      icon: mdi:speedometer
    utility_meter.hourly_energy_cost:
      friendly_name: Contador coste horario
    sensor.hourly_energy_cost_unique:
      friendly_name: Coste hora actual

    utility_meter.daily_energy_cost:
      friendly_name: Contador coste diario
    sensor.daily_energy_cost_unique:
      friendly_name: Coste diario

    utility_meter.monthly_energy_cost:
      friendly_name: Contador coste mensual
    sensor.monthly_energy_cost_unique:
      friendly_name: Coste mes actual

utility_meter:
  billable_energy:
    source: sensor.main_energy_total
    cycle: yearly
    offset: '00:00:30'
    tariffs:
      - Punta
      - Valle
  daily_energy_punta_valle:
    source: sensor.main_energy_total
    cycle: daily
    offset: '00:00:30'
    tariffs:
      - Punta
      - Valle

  hourly_energy_consumption:
    source: sensor.main_energy_total
    cycle: hourly
    offset: '00:00:15'
    tariffs:
      - unique

  hourly_energy_cost:
    source: sensor.energy_cost_hour
    cycle: hourly
    offset: '00:00:15'
    tariffs:
      - unique
  daily_energy_cost:
    source: sensor.energy_cost_hour
    cycle: daily
    offset: '00:00:15'
    tariffs:
      - unique
  monthly_energy_cost:
    source: sensor.energy_cost_hour
    cycle: monthly
    offset: '00:00:15'
    tariffs:
      - unique

sensor:
  # OLD one in use to collect both for some time (data regression exercises)
  - platform: mqtt
    state_topic: !secret mqtt_topic_esp32_ener_stream
    value_template: "{{ value_json.rms[2] | float | round }}"
    name: esp32ener_power
    unit_of_measurement: "W"
    json_attributes_topic: !secret mqtt_topic_esp32_ener_stream
    force_update: true
  - platform: mqtt
    state_topic: !secret mqtt_topic_esp32_ener_stream
    value_template: "{{ value_json.rms[0]  | float | round }}"
    name: esp32ener_ch1
    unit_of_measurement: "W"
    force_update: true
  - platform: mqtt
    state_topic: !secret mqtt_topic_esp32_ener_stream
    value_template: "{{ value_json.rms[1]  | float | round }}"
    name: esp32ener_ch2
    unit_of_measurement: "W"
    force_update: true

  - platform: mqtt
    name: "main_voltage"
    state_topic: "shellies/shellyem/emeter/0/voltage"
    value_template: "{%if value %}{{ value | float | round(1) }}{% else %}unknown{% endif %}"
    qos: 1
    unit_of_measurement: "V"
    force_update: true
    icon: mdi:current-ac

  - platform: mqtt
    name: "main_power_ch1"
    state_topic: "shellies/shellyem/emeter/0/power"
    value_template: "{%if value %}{{ value | float | round(0) }}{% else %}unknown{% endif %}"
    qos: 1
    unit_of_measurement: "W"
    force_update: true
    icon: mdi:flash-outline

  - platform: mqtt
    name: "main_power_react_ch1"
    state_topic: "shellies/shellyem/emeter/0/reactive_power"
    value_template: "{%if value %}{{ value | float | round(0) }}{% else %}unknown{% endif %}"
    qos: 1
    unit_of_measurement: "VA"
    force_update: true
    icon: mdi:transmission-tower

  - platform: mqtt
    name: "main_energy_ch1"
    state_topic: "shellies/shellyem/emeter/0/energy"
#    value_template: "{{ value | float / 60000 }}" # Fix for Watt-minutes
    value_template: "{%if value %}{{ value | int }}{% else %}unknown{% endif %}" # Watt-minutes
    qos: 1
    unit_of_measurement: "Wm"
    force_update: true
    icon: mdi:chart-bar

  - platform: mqtt
    name: "main_energy_total_ch1"
    state_topic: "shellies/shellyem/emeter/0/total"
    value_template: "{%if value %}{{ (value | float / 1000) | round(3) }}{% else %}unknown{% endif %}"
    qos: 1
    unit_of_measurement: "kWh"
    force_update: true
    icon: mdi:chart-bar

  - platform: mqtt
    name: "main_power_ch2"
    state_topic: "shellies/shellyem/emeter/1/power"
    value_template: "{%if value %}{{ value | float | round(0) }}{% else %}unknown{% endif %}"
    qos: 1
    unit_of_measurement: "W"
    force_update: true
    icon: mdi:flash-circle

  - platform: mqtt
    name: "main_power_react_ch2"
    state_topic: "shellies/shellyem/emeter/1/reactive_power"
    value_template: "{%if value %}{{ value | float | round(0) }}{% else %}unknown{% endif %}"
    qos: 1
    unit_of_measurement: "VA"
    force_update: true
    icon: mdi:transmission-tower

  - platform: mqtt
    name: "main_energy_ch2"
    state_topic: "shellies/shellyem/emeter/1/energy"
#    value_template: "{{ value | float / 60000 }}" # Fix for Watt-minutes
    value_template: "{%if value %}{{ value | int }}{% else %}unknown{% endif %}" # Watt-minutes
    qos: 1
    unit_of_measurement: "Wm"
    force_update: true
    icon: mdi:chart-bar

  - platform: mqtt
    name: "main_energy_total_ch2"
    state_topic: "shellies/shellyem/emeter/1/total"
    value_template: "{%if value %}{{ (value | float / 1000) | round(3) }}{% else %}unknown{% endif %}"
    qos: 1
    unit_of_measurement: "kWh"
    force_update: true
    icon: mdi:chart-bar

  - platform: template
    sensors:
      main_power_total:
        friendly_name: "Potencia total"
        unit_of_measurement: 'W'
        value_template: "{% if (states.sensor.main_power_ch1.state != 'unknown') and (states.sensor.main_power_ch2.state != 'unknown') %}{{ ((states.sensor.main_power_ch1.state | float) + (states.sensor.main_power_ch2.state | float)) | round() }}{% else %}unknown{% endif %}"
        entity_id:
          - sensor.main_power_ch1
          - sensor.main_power_ch2

      main_energy_total:
        friendly_name: "Consumo total"
        unit_of_measurement: 'kWh'
        value_template: "{% if (states.sensor.main_energy_total_ch1.state != 'unknown') and (states.sensor.main_energy_total_ch2.state != 'unknown') %}{{ ((states.sensor.main_energy_total_ch1.state | float) + (states.sensor.main_energy_total_ch2.state | float)) | round(3) }}{% else %}unknown{% endif %}"
        entity_id:
          - sensor.main_energy_total_ch1
          - sensor.main_energy_total_ch2

      energy_cost_hour:
        friendly_name: "Gasto en energía (current hour)"
        unit_of_measurement: '€'
        value_template: "{%if states.sensor.pvpc.state %}{{ ((states.sensor.hourly_energy_consumption_unique.state | float) * (states.sensor.pvpc.state | float)) | round(5) }}{% else %}unknown{% endif %}"
        entity_id:
          - sensor.hourly_energy_consumption_unique
          - sensor.pvpc

      elecprice_range:
        friendly_name: "Precio luz"
        value_template: "{%if states.sensor.pvpc.state %}{% set price = 100 * (states.sensor.pvpc.state | float) %}{% if price > 15 %}Muy cara{% elif price > 12 %}Cara{% elif price > 8 %}Normal{% elif price > 4 %}Barata{% else %}Muy barata{% endif %}{% else %}unknown{% endif %}"
        entity_id: sensor.pvpc

  - platform: statistics
    entity_id: sensor.main_power_total
    name: sustained_power
    sampling_size: 500
    max_age:
      minutes: 15
    precision: 1

  - platform: elecprice_spain_pvpc
    electric_rate: discriminacion
    timeout: 20
