###############################################################################
# KODI - OSMC - Hyperion Control
###############################################################################
homeassistant:
  customize:
    media_player.kodi:
      hidden: true
    input_boolean.kodi_tv_state:
      hidden: true
    script.play_kodi_pvr:
      friendly_name: Enciende la caja tonta
      icon: mdi:television-guide

    script.update_library:
      icon: mdi:refresh
    script.stop_kodi:
      icon: mdi:stop
    script.quit_kodi:
      icon: mdi:close
    script.recent_episodes:
      icon: mdi:play-circle
    script.recent_movies:
      icon: mdi:movie
    script.pvr_channels:
      icon: mdi:play-box-outline
    script.pvr_recordings:
      icon: mdi:television-classic
    input_select.kodi_results:
      icon: mdi:kodi
    input_text.q_youtube:
      icon: mdi:youtube
    input_select.youtube_videos:
      icon: mdi:youtube


media_extractor:
#  default_query: best
#  customize:
#    media_player.shield:
#      video: bestvideo
#      music: bestaudio[ext=mp3]

media_player:
- platform: androidtv
  host: !secret philips_tv_host
  name: "TV"
  adb_server_ip: !secret local_ip
  adb_server_port: 5037
  scan_interval: 60
  device_class: androidtv
  apps:
    com.amazon.avod: "Prime Video"
    org.droidtv.playtv: "Otro"
    com.google.android.apps.mediashell: "Google Cast"
    com.google.android.apps.youtube: "YouTube?"
    com.google.android.youtube.tv: "YouTube"
    com.google.android.tvlauncher: "Android TV menu"
    org.droidtv.settings: "Ajustes TV"
    org.droidtv.tvsystemui: "Salvapantallas"

- platform: androidtv
  host: !secret shield_tv_host
  name: nvidia_shield
  adb_server_ip: !secret local_ip
  adb_server_port: 5037
  scan_interval: 20
  device_class: androidtv
  apps:
    com.amazon.avod: "Prime Video"
    com.amazon.amazonvideo.livingroom: "Prime Video"
    org.xbmc.kodi: "Kodi"
    org.droidtv.playtv: "Raw TV"
    com.google.android.apps.mediashell: "Google Cast"
    com.google.android.apps.youtube: "YouTube?"
    com.google.android.youtube.tv: "YouTube"
    com.google.android.tvlauncher: "Android TV menu"
    com.rtve.androidtv: "RTVE a la carta"
    org.droidtv.settings: "Ajustes TV"
    org.droidtv.tvsystemui: "Salvapantallas"
    com.movistarplus.androidtv: "Movistar+"
    com.antena3.atresplayer.tv: "A3Player"


- platform: kodi
  host: !secret shield_tv_host
  port: !secret kodi_port
  name: Kodi
  username: !secret kodi_app_user
  password: !secret kodi_app_pw
  enable_websocket: true
  timeout: 10
  turn_on_action:
  - service: kodi.call_method
    data:
      entity_id: media_player.kodi
      method: Addons.ExecuteAddon
      addonid: script.json-cec
      params:
        command: activate
  turn_off_action:
  - service: media_player.media_stop
    data:
      entity_id: media_player.kodi
  - service: kodi.call_method
    data:
      entity_id: media_player.kodi
      method: Addons.ExecuteAddon
      addonid: script.json-cec
      params:
        command: standby


- platform: denonavr
  host: !secret denon_host
  name: Home cinema
  show_all_sources: false


- platform: universal
  name: Tele
  state_template: >
    {% if (states.media_player.tv.state == 'off') %}
    {{ states.media_player.home_cinema.state }}
    {% elif ("app_id" in states.media_player.tv.attributes) and (states.media_player.tv.attributes.app_id == 'org.droidtv.tvsystemui') %}
    idle
    {% elif ("app_id" in states.media_player.tv.attributes) and (states.media_player.tv.attributes.app_id == 'com.google.android.apps.mediashell') %}
    {{ states("media_player.55oled803_12") }}
    {% elif ("app_id" in states.media_player.nvidia_shield.attributes) and (states.media_player.nvidia_shield.attributes.app_id == 'com.google.android.apps.mediashell') %}
    {{ states("media_player.shield") }}
    {% elif ("app_id" in states.media_player.nvidia_shield.attributes) and (states.media_player.nvidia_shield.attributes.app_id == 'org.xbmc.kodi') %}
    {{ states.media_player.kodi.state }}

    {% elif ("app_id" in states.media_player.nvidia_shield.attributes) %}
    {{ states("media_player.nvidia_shield") }}

    {% else %}
    {{ states.media_player.tv.state }}
    {% endif %}
  children:
    - media_player.shield
    - media_player.55oled803_12
    - media_player.kodi
    - media_player.nvidia_shield
    - media_player.tv
    - media_player.home_cinema
  commands:
    turn_on:
      service: media_player.turn_on
      data:
        entity_id: media_player.tv
    turn_off:
      service: media_player.turn_off
      data:
        entity_id: media_player.tv

    volume_up:
      service: media_player.volume_up
      data:
        entity_id: media_player.home_cinema
    volume_down:
      service: media_player.volume_down
      data:
        entity_id: media_player.home_cinema
    volume_mute:
      service: media_player.volume_mute
      data:
        entity_id: media_player.home_cinema
    volume_set:
      service: media_player.volume_set
      data_template:
        entity_id: media_player.home_cinema
        volume_level: '{{ volume_level }}'

    media_stop:
      service: androidtv.adb_command
      data:
        entity_id: media_player.nvidia_shield
        command: "STOP"
    media_pause:
      service: androidtv.adb_command
      data:
        entity_id: media_player.nvidia_shield
        command: "PAUSE"

    select_source:
      service: python_script.select_tv_source
      data_template:
        source: '{{ source }}'
  attributes:
    is_volume_muted: media_player.home_cinema|is_volume_muted
    volume_level: media_player.home_cinema|volume_level
    source: input_select.tv_source
    source_list: input_select.tv_source|options
    app_id: media_player.nvidia_shield|app_id
    app_name: media_player.nvidia_shield|app_name

binary_sensor:
- platform: template
  sensors:
    tv_in_screen_saver:
      friendly_name: "Salvapantallas TV"
      # device_class:
      # {{'app_name' in states.media_player.tv.attributes and states.media_player.tv.attributes['app_name'] == 'Salvapantallas'}}
      value_template: >
        {{ (states.media_player.tv.state != "off") and (
           (states.media_player.tv.attributes['app_name'] == "Otro")
           and (states.media_player.nvidia_shield.state == "standby")
           and (states.media_player.nvidia_shield.attributes['app_name'] == "Kodi")
           and (states.media_player.kodi.state == 'idle')
        ) or (states.media_player.tv.attributes['app_name'] == "Salvapantallas") }}

      entity_id:
        - media_player.tv
        - media_player.nvidia_shield
        - media_player.kodi


# TODO make more tv time counters and one template sensor with sum
sensor:
- platform: history_stats
  name: Horas de TV
  entity_id: media_player.tele
  state: 'playing'
  type: time
  start: '{{ now().replace(hour=0).replace(minute=0).replace(second=0) }}'
  end: '{{ now() }}'


input_text:
  q_youtube:
    name: 'YouTube search:'
    initial: ''

input_select:
  kodi_results:
    name: Kodi API results
    options:
     - Nada que hacer
  youtube_videos:
    name: Youtube results
    options:
     - Nada que hacer
  tv_source:
    name: TV Source
    options:
     - Nada
     - Kodi  # Shield Kodi app
     - TDT  # Kodi PVR
     - Youtube  # Shield app
     - Movistar+  # Shield app
     - RTVE a la carta  # Shield app
     - Prime Video  # Shield app
     - Salvapantallas 4k  # Shield app
    initial: Nada
    icon: mdi:television-box

