/* SVG shapes */

svg, svg * {
  vector-effect: non-scaling-stroke !important;
  pointer-events: all !important;
  background-color: #000000;
}


/* Hover over */

.entity:hover {
  stroke: #03A9F4 !important;
  stroke-width: 1px !important;
  stroke-opacity: 1 !important;
}

/* Bootstrap succsss */

.success-text {
  fill: #3c763d !important;
}

.success-background, .success-text-background {
  fill: #dff0d8 !important;
  fill-opacity: 1 !important;
  stroke: #d6e9c6 !important;
  stroke-width: 1px !important;
}

/* Bootstrap info */

.info-text {
  fill: #31708f !important;
}

.info-background, .info-text-background {
  fill: #d9edf7 !important;
  fill-opacity: 0.25 !important;
  stroke: #bce8f1 !important;
  stroke-width: 1px !important;
}

/* Bootstrap warning */

.warning-text {
  fill: #8a6d3b !important;
}

.warning-background, .warning-text-background  {
  fill: #fcf8e3 !important;
  fill-opacity: 0.25 !important;
  stroke: #faebcc !important;
  stroke-width: 1px !important;
}

.warning-movement  {
  stroke: #F1420F !important;
  stroke-width: 10px !important;
}
.info-no-movement  {
  line-color: #00FF00 !important;
  line-width: 10px !important;
}

/* Bootstrap danger */

.danger-text {
  fill: #a94442 !important;
}

.danger-background, .danger-text-background {
  fill: #f2dede !important;
  fill-opacity: 1 !important;
  stroke: #ebccd1 !important;
  stroke-width: 1px !important;
}

/* Last motion entity */

.last-motion {
  stroke: #808080 !important;
  stroke-width: 1px !important;
  stroke-opacity: 1 !important;
}

/* Layer visibility */
.layer-visible {
  display: initial !important;
}

.layer-hidden {
  display: none !important;
}

/* Alarm Panel */

.alarm-disarmed {
  fill: #3c763d !important;
}

.alarm-armed {
  fill: #8a6d3b !important;
}

/* Camera */

.camera-idle {
  fill: #B9CEF7 !important;
}

.camera-recording {
  fill: #A93DD7 !important;
}

/* Light */

.light-off {
  fill: #585564 !important;
}

.light-on {
  fill: #12b517 !important;
}

/* Doorbell */

.doorbell-off {
  fill: #C3B7F4 !important;
}

.doorbell-on {
  fill: #F8D2B9 !important;
}

/* Switch */
.switch-off {
  fill: #827590 !important;
}
.switch-on {
  fill: #359D16 !important;
}

/* Tracking */
.outside {
  fill: #DF7D0C !important;
}
.at-home {
  fill: #2C539D !important;
}


/* Power sensor */

.power-very-low {
  fill: lime !important;
}

.power-below-average {
  fill: green !important;
}

.power-average {
  fill: yellow !important;
}

.power-high {
	fill: orange !important;
}

.power-very-high {
	fill: red !important;
}


/* Temperature sensor */

.temp-very-low {
  fill: #d9edf7 !important;
  fill-opacity: 1 !important;
}

.temp-below-average {
  fill: #dcefe8 !important;
  fill-opacity: 1 !important;
}

.temp-average {
  fill: #dff0d8 !important;
  fill-opacity: 1 !important;
}

.temp-very-high {
  fill: #f2dede !important;
  fill-opacity: 1 !important;
}

/* Media player */

.squeezebox-off {
  fill: #8AA8A7 !important;
}

.squeezebox-on {
  fill: #2baaa6 !important;
}

.squeezebox-playing {
  fill: #F1420F !important;
}

.squeezebox-pause {
  fill: #EBC307 !important;
}

/* Colors */
.color-dark-blue {
  fill: #064eff !important;
  fill-opacity: 1 !important;
}
.color-blue {
  fill: #0096FF !important;
  fill-opacity: 1 !important;
}
.color-light-blue {
  fill: #56BEA1 !important;
  fill-opacity: 1 !important;
}
.color-green {
  fill: #00CB00 !important;
  fill-opacity: 1 !important;
}
.color-yellow {
  fill: #EBC307 !important;
  fill-opacity: 1 !important;
}
.color-orange {
  fill: #F27510 !important;
  fill-opacity: 1 !important;
}
.color-red {
  fill: #F1420F !important;
  fill-opacity: 1 !important;
}
